* {
  box-sizing: border-box;
}

.component-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5rem repeat(5, 50px);
}

.mainscreen {
  grid-area: 1 / 1 / 2 / 3;
}

.functionbuttons {
  grid-area: 2 / 2 / 7 / 3;
}

.inputbuttons {
  grid-area: 3 / 1 / 7 / 2 ;
}
